<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>
<form
  action="/"
  method="POST">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username" />
  <button type="submit">Submit</button>
</form>

<%- include('./includes/end.ejs') %>
